<template>
  <div class="gallery">
    <v-row>
      <v-col cols="12" >
        <div class="card-text">
          <h2 style="font-size: 40px; color: #1F2229;">About Us</h2>
          <v-row>
              <p>
                Boztosun Textile was established in 2018 by Egemen Boztosun as
                a knitted and woven production company in istanbul. Our bussines is manufacturing high qualitiy knitted and woven products with sensitivity against natural and oscial enviroment. Our goal
                is to be a leader in manufacturing of knitted and woven garments by providing enchanted services, relationship and profitability.
              </p>
          </v-row>
          <h2 style="font-size: 40px; color: #1F2229;">Product</h2>
          <p>
            Boztosun Textile has a supply chain starting from collection to ready garment. We Supply knitting and waven ready garment with
            a big coordination between our departments for our customers. Our Strengths are focusing on customer demands, short lead time, providing sustainable service and product quality and competitive prices.
          </p>
          <h2 id="mobile-h2" style="font-size: 40px; color: #1F2229;">Sustainability </h2>
          <p>
            Boztosun Textile cares about the future generations. We care about our nature and out ecosystem on our planet. We make our production according to these delicate issues.
          </p>
        </div>
        <div style="margin-bottom: 500px;"></div>

        <v-row align="center" justify="center">
          <figure @click="showCarousel">
            <img :src="require('@/assets/images/Factory.jpg')" alt="Factory">
            <figcaption>Factory</figcaption>
          </figure>

          <figure style="--c:#fff5">
            <img :src="require('@/assets/images/showroom.jpg')" alt="Mountains">
            <figcaption>Showroom</figcaption>
          </figure>
        </v-row>

      </v-col>
    </v-row>
    <div style="margin-top: 250px;"></div>

  </div>
  <div>
    <v-dialog v-model="isCarouselVisible" max-width="1200" >
      <v-carousel :show-arrows-on-hover="true" hide-delimiters v-model="carouselIndex" height="700" width="1200">
        <v-carousel-item src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" cover></v-carousel-item>
        <v-carousel-item src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg" cover></v-carousel-item>
      </v-carousel>
    </v-dialog>
  </div>

</template>


<script>
export default {
  data() {
    return {
      isCarouselVisible: false,
      carouselIndex: 0,
      showInfo: [false, false, false],
      cards: [
        { info: "Fabrika" },
        { info: "Showroom" }
      ],
    };
  },
  methods: {
    showCarousel() {
      this.isCarouselVisible = true;
    }
  },
};
</script>

<style scoped>
.v-btn--icon.v-btn--density-default {
    left: 5px !important;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: #c394f8;

&.blue {
   background-color: #428aa6;
 }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon{ margin-right: 10px; }

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}
figure img{
  width: 350px;
  height: 350px;
}
figure {
  margin-bottom: 30px;
  z-index: 5;
  margin-right: 30px;
  display: grid;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  width: 350px;
  height: 350px;
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.gallery {
  padding: 16px;
  left: 100px;
  width: fit-content;
  margin: auto;top: 300px;
}

h2{
  margin-top: 40px;
  margin-bottom: 15px;
}
.card-text {
  margin-top: 80px;
  text-align: center;
  background: border-box;
  top: 450px;
  font-family: Montserrat, sans-serif;
  color: gray;
  position: relative;
  padding: 200px;
}
.card-text p{
  text-align: left;
}


.card:hover .card-overlay {
  opacity: 1;
}
@media (max-width: 1024px) {

  figure img{
    width: 350px;
    height: 350px;
  }
  figure {
    margin-bottom: 30px;
    z-index: 5;
    display: grid;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    width: 350px;
    height: 350px;
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
      -webkit-mask: none;
      color: #fff;
    }
  }
  .gallery {
    padding: 16px;
    left: unset !important;
    width: fit-content;
    position: relative;
    margin: auto;
  }

  .card-text {
    font-family: Montserrat, sans-serif !important;
    color: #070606 !important;
    position: relative !important;
    padding: 0px !important;
    margin: 30px !important;
    font-weight: normal !important;
  }
}
</style>
