<template>
  <div class="gallery">
    <v-banner-text id="text" style="top: 20px !important; position: relative; padding-left: 20px; font-size: 40px;">
      Product
    </v-banner-text>
    <div class="carousel carousel-end rounded-box" >
      <div style="margin: 20px;" class="carousel-item" v-for="(image, index) in images1" :key="index" cols="12" sm="2" md="4">
        <img @click="showCarousel(image.category)" width="350" :src="image.url" aspect-ratio="1">
      </div>
    </div>
    <div class="carousel carousel-end rounded-box">
      <div style="margin: 20px;" class="carousel-item" v-for="(image, index) in images2" :key="index" cols="12" sm="2" md="4">
        <img @click="showCarousel(image.category)" width="350" :src="image.url" aspect-ratio="1">
      </div>
    </div>
  </div>
  <div>
    <v-dialog v-model="isCarouselVisible" max-width="1200">
      <v-carousel :show-arrows-on-hover="true" hide-delimiters v-model="carouselIndex" height="700" width="1200">
        <v-carousel-item v-for="(path, index) in selectList" :key="index" :src="path" cover></v-carousel-item>
      </v-carousel>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images1: [
        { url: require('@/assets/images/showroom.jpg'), category: "A" },
        { url: require('@/assets/images/showroom.jpg'), category: "B" },
        { url: require('@/assets/images/showroom.jpg'), category: "C" }
      ],
      images2: [
        { url: require('@/assets/images/showroom.jpg'), category: "D" },
        { url: require('@/assets/images/showroom.jpg'), category: "E" },
        { url: require('@/assets/images/ipjust.png'), category: "F" }
      ],

      categoryA: [
        require('@/assets/images/showroom.jpg'),
        require('@/assets/images/ipjust.png'),
        require('@/assets/images/showroom.jpg')
      ],
      categoryB: [
        require('@/assets/images/ipjust.png'),
        require('@/assets/images/showroom.jpg'),
        require('@/assets/images/ipjust.png')
      ],
      categoryC: [
        require('@/assets/images/ipjust.png'),
        require('@/assets/images/showroom.jpg'),
        require('@/assets/images/ipjust.png')
      ],
      categoryD: [
        require('@/assets/images/ipjust.png'),
        require('@/assets/images/showroom.jpg'),
        require('@/assets/images/ipjust.png')
      ],
      categoryE: [
        require('@/assets/images/ipjust.png'),
        require('@/assets/images/showroom.jpg'),
        require('@/assets/images/ipjust.png')
      ],
      categoryF: [
        require('@/assets/images/logo.png'),
        require('@/assets/images/Factory.jpg'),
        require('@/assets/images/logo.png')
      ],
      selectList: [],
      dialog: false,
      selectedImage: 0,
      isCarouselVisible: false,
      carouselIndex: 0,
    };
  },
  methods: {
    showCarousel(event) {
      this.isCarouselVisible = true;
      if (event === "A") {
        this.selectList = this.categoryA;
      }
      else if (event === "B") {
        this.selectList = this.categoryB;
      }
      else if (event === "C") {
        this.selectList = this.categoryC;
      }
      else if (event === "D") {
        this.selectList = this.categoryD;
      }
      else if (event === "E") {
        this.selectList = this.categoryE;
      }
      else if (event === "F") {
        this.selectList = this.categoryF;
      }

    },
    closeImage() {
      this.dialog = false;
    },
  },
};
</script>

<style scoped>
.gallery {
  padding: 16px;
  left: 100px;
  width: fit-content;
  margin: auto;
}

@media (max-width: 1024) {
  .gallery {
    padding: 16px;
    left: unset !important;
    width: fit-content;
    position: relative;
    margin: auto;
  }
}

/* İstediğiniz diğer özel stilleri burada tanımlayabilirsiniz */
</style>
