.v-toolbar__content,
.v-toolbar__extension {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    transition: inherit;
    width: 100%;
    height: auto !important;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    position: fixed;
    right: 54px;
}


.v-btn--icon.v-btn--density-default {
    position: relative;
    width: 14px;
    height: 14px;
    left: 3px;
    right: 20px;
    top: 12px;
}

.toggle-drawer-text {
    font-weight: 800;
    font-size: 25px;
    /* line-height: 105.9%; */
    text-align: center;
    letter-spacing: -0.025em;
    color: #ffffff;
    padding: 10px;
}

.toggle-drawer {
    position: fixed;
    width: 55px;
    height: calc((100% - 64px) - 0px);
    left: 0;
    top: 51px !important;
    background: rgb(255, 255, 255) !important;
    box-shadow: rgb(139 139 139 / 5%) 0px 4px 14px;
    border-radius: 0px 11px 11px 0px;
    z-index: 1004;
    transform: translateX(0%);
    bottom: 0px;

}

.toggle-drawer-a {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 40px !important;
    margin: auto;
    top: 12px !important;
    justify-content: center;
    right: 20px !important;
    position: absolute;
    height: -webkit-fill-available;
    text-align: center;
}

.toggle-drawer-i {
    border:0px solid #4f4f4f;
    border-radius: 12px;
}



.v-application__wrap {
    background: white !important;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}

.v-tab.v-tab {
    --v-btn-height: var(--v-tabs-height);
    min-width: 90px;
    position: relative !important;
    width: 70px;
    font-weight: 700;
    font-size: 12px;
    line-height: 105.9%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #000000;
    text-transform: capitalize;
}

.text-blue {
    color: #00468a !important;
}

.v-tabs__wrapper {
    border-bottom: 1px solid #ddd;
}

.v-tabs__slider {
    height: 3px;
    background-color: #00468a;
}

.v-tabs__slider::before {
    display: none;
}

.v-tabs__item--active .v-tabs__slider {
    background-color: #00468a;
}

.v-tabs {
    display: flex;
    height: var(--v-tabs-height);
    border-radius: 0px 11px 11px 0px;
}

.v-slide-group__container {
    contain: content;
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
}

@media (max-width:1024px) {
    .icon-container {
        right: unset !important
    }
}


  
  .toggle-drawer-i .v-icon i {
    font-size: 24px; /* You can adjust the size as needed */
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
  }
  
  .toggle-drawer-i.closed i {
    transform: rotate(45deg);
  }



  .menu {
    /* Menü genişliği */
    background-color: #fff;
    /* Menü arka plan rengi */
    transform: translateX(0);
    /* Başlangıç konumu (kapalıyken) */
  }
  
  .drawer-enter-active,
  .drawer-leave-active {
    transition: transform 0.8s ease;
    /* Animasyon süresi ve geçiş türü */
  }
  
  .drawer-enter,
  .drawer-leave-to {
    transform: translateX(-300px);
    /* Başlangıç konumu (açıkken) */
  }
  
  .toggle-drawer-icon {
    position: absolute;
    bottom: 10px;
    width: -webkit-fill-available;
    padding: 10px;
  }
  
  .alt-icon {
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .drawer-menu {
    margin: auto;
    border-radius: 20px;
    background: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-drawer .v-tab.v-tab {
    --v-btn-height: var(--v-tabs-height);
    min-width: 90px;
    position: relative !important;
    width: 70px;
    font-weight: 700;
    font-size: 12px;
    line-height: 105.9%;
    text-align: center;
    letter-spacing: -0.025em;
    color: #00468a !important;
    text-transform: capitalize;
  }
  
  .tab-text {
    font-size: 12px;
    color: black;
  }
  
  
  @media (max-width: 1024px) {
    .v-icon i {
      --v-icon-size-multiplier: 1;
      align-items: center;
      display: table;
      font-feature-settings: "liga";
      height: 15px !important;
      justify-content: center;
      letter-spacing: normal;
      line-height: 1;
      position: relative;
      text-indent: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      vertical-align: middle;
      width: 1em;
    }
  }
  
  .navigation {
    padding-top: 130px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .video-card {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .navbar-right {
    float: right;
    padding-right: 10%;
  }
  
  .navbar-right a {
    text-decoration: none;
    padding: 10px;
    color: #ff0000;
    font-family: Arial;
    font-weight: 900;
  }
  
  .navbar-right a:hover {
    text-decoration: underline;
  }
  
  .navbar-logo {
    padding-left: 10%;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #e12323;
  }
  
  .video-container {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .video-container::before {
    position: fixed !important;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Saydamlık burada ayarlanabilir */
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  #video-bg {
    width: 100%;
  
  }